*{
    margin: 5px;
    padding: 0;
}

h1{
    background-color: gray;
}

.main{
    background-color: lightgray;
}
.col{
    background-color: yellow;
}

@media only screen and (max-width: 480px){
    .large, .medium{
        display: none;
    }
    .small{
        display:block;
    }
}
@media only screen and (min-width: 481px){
    .small, .large{
        display: none;
    }
    .medium{
        display:block;
    }
}
@media only screen and (min-width: 1024px){
    .small, .medium{
        display: none;
    }
    .large{
        display:block;
    }
}

